
test-output/Default suite/Default test.html
test-output/Default suite/Default test.xml
test-output/emailable-report.html
test-output/I-Day.xls
test-output/index.html
test-output/junitreports/TEST-tests.ChromeSettingsTest.xml
test-output/junitreports/TEST-tests.DoodleTest.xml
test-output/Suite/Test.html
test-output/Suite/Test.xml
test-output/testng-results.xml
